<h1 class="text-center mt-4">Alpha Bloggers</h1>

<div class="container">
  <% @people.each do |person| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= link_to person.name, person %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to gravatar_for(person, size: 150), person %>
            </h5>
            <p class="card-text"><%= pluralize(person.articles.count, "article") %></p>
            <%= link_to "View profile", person, class: "btn btn-outline-success" %>
            <% if logged_in? and person == current_person %>
              <%= link_to "Edit profile", edit_person_path(person), class: "btn btn-outline-info" %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(person.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>