<h1>Showing Animal Details</h1>
<p><b>Name:</b> <%= @animal.name %> </p>
<p><b>Category:</b> <%= @animal.category %></p>
<p><b>Color:</b> <%= @animal.color %></p>
<p><b>Gender:</b> <%= @animal.gender %></p>
<p><b>Age:</b> <%= @animal.age %></p>